*{
    padding: 0;
    margin: 0;
}

/* primary */

.btn-button {
    padding: 14px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #E55473;
    border: 2px solid #40114a;
}

.btn-button:hover{
   color: black;
   background: rgba(229, 84, 115, 0.10);
}

h2{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}


 /*  */



header{
    background: rgba(229, 84, 115, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 0 100px 0;
}

nav>h1{
    padding-top: 12px;
    font-size: 35px;
}

span{
    color: #E55473;
}
nav>.nav-menu>ul{
    display: inline-flex;

}

nav li{
    list-style-type: none;
    padding: 20px;
    font-weight: bold;
}

nav li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

nav li a:hover{
    color: #E55473;
    transition: 0.5s;
}

/*  bannner part */

image{
    width: 300px;
}

.banner-text>h1{
     font-size: 56px;
}

.banner-text{
    padding-top: 80px;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    padding: 40px 200px 0;
    gap: 80px;

}

/* Features */

 .Features-text p{
    text-align: center;
}
.Features-text{
    padding: 50px;
}
.Features-img{
    display: flex;
    justify-content: space-around;
    width: 71%;
    padding-left: 205px;
    

}

.Features-img img {
  display: block;
  text-align: center;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
}



.Features-img a {
    padding: 0 100px 0;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }


  /* Deals */

  .Deals{
    width: 100%;
    height: 450px;
    background: rgba(229, 84, 115, 0.05);
  }

.Deals-deatails{
    display: flex;
    justify-content: space-around;
    width: 71%;
    gap: 88px;
    padding-left: 255px;
    padding-top: 40px;
}

.Deals-text {
  padding-top: 90px;
  text-align: center;
}

.Deals-text>h1{
    font-size: 40px;
}

/* Contact */
.Contact{
    width: 80%;
    padding-left: 200px;
}

.Contact-text{
    padding: 50px;
}

.Contact-text>p{
    text-align: center;
}

.Contact img{
    height: 300px;
    width: 280px;
    padding-left: 10px;
}

/* Subscribe */
.Subscribe{
    
}